.App {
    text-align: center;
    background-color: rgb(224, 224, 238);
    border-left-color: #20407b;
    border-left-style: solid;
    border-left-width: 30px;
    border-right-color: #20407b;
    border-right-style: solid;
    border-right-width: 30px;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    width: 100%;
    background-color: #282c34;
    background-position-x: center;
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.Banner-header {
    width: 100%;
    background-color: #20407b;
}

.Planner {
    background-color: #ffffff;
    border-style: solid;
    border-color: #20407b;
    border-width: 10px;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
