.boxed {
    border: 2px solid black;
}

.pool {
    height: 500px;
    width: 415 px;
    overflow-y: auto;
    background-color: #d8e6fa;
    border-style: solid;
    border-color: #1f55b9;
    border-width: 10px;
}

.semesterCourses {
    height: 600px;
    width: 600px;
    background-color: #d8e6fa;
}

.planViewer {
    height: 800px;
    overflow-y: auto;
}
